.CardsContainer{
        /*background-color:  #dddddd;*/
    width:95%;
    height:95%;
   margin-left: 100px;
}

.CardsFlex{
    
    display:flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content:flex-start;
    flex-wrap:wrap;
    padding: 2rem;
    row-gap: 10px;
    column-gap: 70px;
 
}

.alert p{
    margin-top: -10px;
}

.alert{
    margin-bottom: -8px;
    width: 4.8em;
    height: 2em;
    margin-left: 190px;
}
.card-img-top
{
    max-height: 280px;
    object-fit: cover;
}
.card{
    height:14em;
    width:16.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body h5{
    font-size: 1.5em;
    text-align: center;
    margin-top:-6%;
    font-style: italic;
    color: rgb(95, 95, 95);
}
